<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="@{/}">
<meta charset="UTF-8">
<title>书城会员注册页面</title>
<link type="text/css" rel="stylesheet" href="static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<a href="index.html">
					<img class="logo_img" alt="" src="static/img/bookstore_logo.jpg" />
				</a>
				<span class="wel_word"></span>
				<div>
					<span>欢迎 <span class="um_span" th:text="${username}"></span> 光临书城</span>
					<a href="order?flag=showOrders">我的订单</a>
					<a href="user?flag=logout">注销</a>&nbsp;&nbsp;
					<a href="index.html">返回</a>
				</div>
		</div>
		
		<div id="main">
			<h1>注册成功! <a href="index.html">转到主页</a></h1>
		</div>
</body>
</html>